#nav
  = link_to t('.dashboard'), admin_dashboard_url, :class => 'button'
  = link_to t('.tweets'), admin_tweets_url, :class=>'button'
  = link_to t('.comments'), admin_comments_url, :class=>'button'
  = link_to t('.users'), admin_users_url, :class => 'button'
  = link_to t('.logs'), admin_logs_url, :class=>'button'