!!! 5
%html
  %head
  %title
    -if @page_title
      =@page_title+' - '
    Weibo
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
  %body
    .topbar
      .fill
        .container
          - if user_signed_in?
            %h3
              %a
                Welcom
                =current_user.name
          %ul
            %li=link_to t('.Home'), root_url
            - if user_signed_in?
              %li= link_to(t('.logout'), destroy_user_session_path)
              %li= link_to(t('.edit_registration'), edit_user_registration_path)
            -else
              %li= link_to(t('.login'), new_user_session_path)
    %p.alert=alert
    - if flash[:success]
      .alert-message.success
        %a.close x
        %p= flash[:success]
    - if flash[:error]
      .alert-message.error
        %a.close x
        %p= flash[:error]
    - if flash[:notice]
      .alert-message.warning
        %a.close x
        %p= flash[:notice]
    %p.deney=@deney
    = yield
